
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Merriweather:wght@700&family=Playfair+Display&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
}
section {
    scroll-margin-block: 3rem;
}
body,#Home{
    background-color: darkgray;
}
#About{
    background-color: lightgray;
}
img[alt=Myimage1] {
    position: relative;
    left: 11em;
    bottom: 4em;
    width: 13em;
    transform:rotate3d(50deg) translateX(20px);
    
}
img[alt=Myimage2]{
    position: relative;
    left: 25em;
    bottom: 4em;
    width: 13em;
}
img[alt=Myimage3]{
    position: relative;
    left: 11em;
    bottom: 9em;
    width: 13em;
}
/* Profile */
#profile {
    background: url('https://i.postimg.cc/dVyRxzym/LC2.jpg') no-repeat;
    padding: 5px;
    border: solid 20px ;
    border-radius: 50%;
    width: 25rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#profile{
    from{
        transform: rotateX('180deg');
    color: white;
    }
    to{
        transform: rotateX('180deg');
        color:plum
    }
   
}
#top-part{
    position: relative;
    background-color:rgb(235, 211, 211);
    top: -12rem;
    left: 0;
    /*inset: similar to relation properties of left,top etc*/
}
#top-part span{
    position: absolute;
    top: -1.3em;
    left: 3.1em; 
    bottom: 18em;
    transform-origin: bottom center; 


    /* rotate.. add key frames  */
}

#top-part span:nth-child(1) {
    transform: rotate(-11deg) translateX(-60px);
    color: white;
    
}
#top-part span:nth-child(3) {
    transform: rotate(12deg) translateX(4px);
    color: white;
}
#top-part span:nth-child(4) {
    transform: rotate(14deg) translateX(35px); 
    color: white;
 }/*transform (property) which is like transformers( need to identify how you want the tranformation to occur ( in this case it is rotate) and then TRANSLATE is moving the object eaither on the x-axis or on the y-axis)*/

#bottom-part{
    position: relative;
    top: 2em;
    right: 0em;
}
#bottom-part span{
    position: absolute;
   top: 20em;
   bottom:-30em;
   transform-origin:top center;
}
#bottom-part span:nth-child(1){
    transform: rotate(-50deg) translateY();
}
/*finish the bottom curve*/

.carousel-item{
    background-color: hsl(0, 1%, 35%);
}
p.card-text{
    display: grid;
}

.card{
    display: inline-flex;
    
}

#Education{
    background-color: darkgrey;
}
#Skills li ol{
    list-style-type: none;
}

#Contact{
    background-color: darkgray;

}

#Contact .row:last-child {
    height: 80vh;
}


@keyframes sliding{
    from {
        transform: translateX(0);
        width: 100;
    }
    to {
        transform: translateX(-70);
    } 
    
}

#testimonies img{
    width: 20px;
}
    
@media screen and (width < 700px) {
    #Contact .row:last-child{
        height: unset;
        margin-bottom: .5rem;
    }
}