@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Playfair+Display&display=swap');

navbar{
    justify-content: center;
}
.body,#Home{
    background-color: darkgray;
}


.body, #About{
    background-color: lightgray;

}
img[alt=Myimage1] {
    position: relative;
    left: 11em;
    bottom: 4em;
    width: 13em;
    
}
img[alt=Myimage2]{
    position: relative;
    left: 25em;
    bottom: 4em;
    width: 13em;
}
img[alt=Myimage3]{
    position: relative;
    left: 11em;
    bottom: 9em;
    width: 13em;
}

